<%= @user.handle_name %> さんのマイページ</h1>

<div>
  <%= attachment_image_tag @user, :profile_image, size: "150x150" %>
</div>

<div>
  <p><strong>自己紹介:</strong> <%= @user.profile %></p>
</div>

<%= link_to "プロフィールを編集する", edit_user_path(@user), class: "button" %>


<div>
  フォロー：<%= link_to "#{@user.followings.count}人", followings_user_path(@user) %><br>
  フォロワー：<%= link_to "#{@user.followers.count}人", followers_user_path(@user) %>
</div>

<% if current_user != @user %>
  <% if current_user.following?(@user) %>
    <% relationship = current_user.active_relationships.find_by(followed_id: @user.id) %>
    <% if relationship %>
      <%= button_to "フォローを外す", relationship_path(relationship), method: :delete %>
    <% end %>
  <% else %>
    <%= button_to "フォローする", relationships_path(followed_id: @user.id), method: :post %>
  <% end %>
<% end %>

<%= link_to "日本酒を探す", search_posts_path, class: "button" %>

<h2>最新の投稿</h2>
<div>
  <% @recent_posts.each do |post| %>
    <div>
 
      <p><%= truncate(post.text, length: 100) %></p>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "新規投稿へ", new_post_path %>
  <%= link_to "投稿一覧へ", posts_user_path(@user), class: "button" %>
</div>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
