<% content_for :page_specific_css do %>
  <%= stylesheet_link_tag "posts" %>
<% end %>

<div class="post-details">
<h1>投稿詳細</h1>
  <!-- 投稿者名 -->
  <div class="post-author">
    <p>
      投稿者: 
      <%= link_to @post.user.handle_name, user_path(@post.user), class: "user-link" %>
    </p>
  </div>

  <!-- 投稿内容 -->
  <div class="post-section">
    <h3 class="section-title">日本酒</h3>
    <p class="post-text"><%= @post.name %></p>
  </div>

  <div class="post-section">
    <h3 class="section-title">カテゴリー</h3>
    <p class="post-text"><%= @post.category.name %></p>
  </div>


  <div class="post-section">
    <h3 class="section-title">感想</h3>
    <p class="post-text"><%= @post.text %></p>
  </div>

  <div class="post-section">
    <h3 class="section-title">画像</h3>
    <%= attachment_image_tag @post, :image, format: 'jpeg', class: "edit-image" %>
  </div>

  <!-- 編集・削除ボタン -->
  <% if @post.user == current_user %>
    <div class="post-actions">
      <%= link_to '編集する', edit_post_path(@post.id), class: "btn btn-primary" %>
      <%= link_to '削除する', post_path(@post.id), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？" }, class: "btn btn-danger" %>
      <p>
    </div>
  <% end %>

  <!-- コメント一覧 -->
  <% if @post.status == "published" %>
    <div class="comments-section">
      <h3 class="comments-title">コメント一覧</h3>
      <% if @post.comments.any? %>
        <ul class="comments-list">
          <% @post.comments.each do |comment| %>
            <li class="comment-item">
              <span class="comment-text"><%= comment.comment %></span>
              <span class="comment-author">
                （投稿者: 
                <%= link_to comment.user.handle_name, user_path(comment.user), class: "user-link" %>）
              </span>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="no-comments">コメントはまだありません。</p>
      <% end %>
    </div>

    <!-- コメント投稿フォーム -->
    <div class="comment-form">
      <h3>コメントを投稿する</h3>
      <%= form_with model: [@post, @post.comments.build], local: true do |form| %>
        <div class="form-group">
          <%= form.text_area :comment, rows: 3, placeholder: "コメントを入力してください", class: "form-control" %>
          <p>
        </div>
        <%= form.submit "コメントを送る", class: "btn btn-primary" %>
        <p>
      <% end %>
    </div>
  <% end %>

  <!-- 戻るボタン -->
  <div class="back-button-container">
    <%= link_to "戻る", request.referer || user_path(current_user), class: "btn btn-secondary back-button" %>
  </div>
</div>
